@use "reset";
@use "media-query" as media;


.button{

    // Font Styling
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    align-content: center;

    // Button Styling
    background-color: #520000;
    height: 5rem;
    border-radius: 100px;
    width: 80%;

    @include media.xs{
        // Font Styling
        font-size: 2rem;
        height: 4rem;
    }

    @include media.sm{
        // Font Styling
        font-size: 2rem;
        height: 4rem;
    }

}
