@font-face {
    font-family: "Conseration";
    src: local("Conseration")url(../fonts/Conseration-Bold.otf);
}

@font-face {
    font-family: "Josefin Sans";
    src: local("Josefin Sans")url(../fonts/JosefinSans-VariableFont_wght.ttf);
}