@use "reset";
@use "media-query" as media;
@use "button";



.hero-background{
    background-image: url(../images/Brand-Pattern-pink.png);
    background-repeat: repeat;
}

.red-brand-background{
    background-image: url(../images/Brand-Pattern-deep-red.png);
    background-repeat: repeat;

    .button{
        background-color: #FFB0B0;
        color: #520000;
    }
}

body{
    height: 100%;
}





.hero-grid-container{
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    // ". . hs"
    "txt . hs"
    "txt . hs" ;

    min-height: 85vh;

    

    

    @include media.xs{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        
        "txt"
        "hs";

        height: 85vh;
    }

    @include media.sm{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        
        "txt"
        "hs";

        height: 85vh;
    }






    .text-box{
        grid-area: txt;

        display: flex;
        flex-direction:  column;

        margin-left: 5rem;

        justify-content: center;

        margin-top: 10rem;


        @include media.xs{
            height: 100%;
            margin-top: 5rem;
            margin-left: 2rem;

        }

        @include media.sm{
            height: 100%;
            margin-top: 5rem;
            margin-left: 2rem;

        }

        h1{
            font-family: "Fjalla One", sans-serif;
            font-size: 6rem;




            @include media.xs{
                font-size: clamp(3rem, 14vw, 4rem);
                line-height: 0.9;
                margin-top: 0rem;
                margin-bottom: 0.5rem;
                
            }

            @include media.sm{
                font-size: clamp(3rem, 14vw, 4rem);
                line-height: 0.9;
                margin-top: 0rem;
                margin-bottom: 0.5rem;
                
            }

            @include media.md{
                font-size: 4rem;

            }
  

        }

        .lower-line{
            margin-top: -1rem;
            margin-bottom: 1rem;
        }

        p{
            font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
            font-size: 2rem;
            margin-bottom: 2rem;

            @include media.xs{
                font-size: 1.25rem;
                width: 85%;
                margin-bottom: 1rem;
            }

            @include media.sm{
                font-size: 1.25rem;
                width: 75%;
                margin-bottom: 1rem;
            }
        }

        .button{

            margin-bottom: 5rem;

            @include media.xs{
                width: 55%;
                height: 4rem;
                font-size: 1.5rem;
            }

            @include media.sm{
                width: 65%;
                height: 4rem;
                font-size: 1.5rem;
            }

            @include media.md{
                font-size: 2.5rem;
            }
        }

    }


    img{
        grid-area: hs;
        max-height: 75vh;
        align-self: flex-end;

        @include media.xs{
            justify-self: flex-end;
            margin-top: -10rem;
            margin-right: -5rem;
            height: 145%;
        }

        @include media.sm{
            justify-self: flex-end;
            margin-top: -10rem;
            margin-right: -5rem;
            height: 145%;
        }
    }
}






section{
    display: flex;
    flex-direction: column;

    h2{
        font-size: 5rem;
        font-family: "Fjalla One", sans-serif;
        color: #FFB0B0;
        text-align: left;
        align-self: flex-start;
        margin: 5rem;


        @include media.xs{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 3rem;
            width: 100%;
            align-self: center;
        }

        @include media.sm{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 3rem;
            width: 100%;
            align-self: center;
        }

        @include media.md{
            text-align: center;
            margin-bottom: 3rem;
            width: 100%;
            align-self: center;
        }

    }
    display: flex;
    flex-direction: column;
}

.card-grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin-top: 5rem;

    width: 85%;
    align-self: center;

    margin-bottom: 5rem;

    @include media.xs{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    @include media.sm{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    @include media.md{
        gap: 1rem;
        width: 95%;
    }
    

    .card{
        display: flex;
        flex-direction: column;
        width: 100%;

        img{
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 15%;
            margin: 1rem;
        }

        h4{
            color: #FFB0B0;
            align-self: center;
            font-family: "Fjalla One", sans-serif;
            font-size: 3rem;

            @include media.md{
                font-size: 2rem;
            }

        }

        h5{
            color: #FFB0B0;
            align-self: center;
            font-family: "Fjalla One", sans-serif;
            font-size: 2rem;

            @include media.md{
                font-size: 1.5rem;
            }

        }

        .button{
            align-self: center;
            font-size: 2rem;
            background-color: #B8183C;
            margin: 1rem 0 1rem 0;

            @include media.xs{
                height: 4rem;
            }
    
            @include media.sm{
                height: 4rem;
            }
        
        }

        @include media.md{
            font-size: 1.5rem;
        }
    }
}

section{

    h2{
        margin-bottom: 0;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

        justify-content: center;
        align-items: center;

        margin-bottom: 5rem;



        
        @include media.xs{
            grid-template-columns: 1fr;
            grid-template-areas:
            "pic"
            "tb";
        }

        @include media.sm{
            grid-template-columns: 1fr;
            grid-template-areas:
            "pic"
            "tb";
        }

        .text-box{
            display: flex;
            flex-direction: column;

            grid-area: tb;

            align-self: flex-start;
            

            margin: 0 2rem 0 5rem;

            @include media.xs{
                margin: 2rem;
                text-align: center;
            }

            @include media.sm{
                margin: 2rem;
                text-align: center;
            }

            h3{
                font-family: "Fjalla One", sans-serif;
                color: #fff;
                font-size: 3.5rem;
                margin: 3rem 0 3rem 0;

                @include media.xs{
                    margin: 0 0 2rem 0;
                    font-size: 2.5rem;
                }

                @include media.sm{
                    margin: 0 0 2rem 0;
                    font-size: 2.5rem;
                }
            }

            p{
                font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                color: #fff;
    
                @include media.xs{
                    font-size: 1.25rem;
                    
                    
                }
    
                @include media.sm{
                    font-size: 1.25rem;
                    
                    
                }
            }

            .button{
                width: 85%;
                font-size: 2rem;

                @include media.xs{
                    width: 85%;
                    align-self: center;
                    height: 4rem;
                }

                @include media.sm{
                    width: 85%;
                    align-self: center;
                    height: 4rem;
                }
            }

            
        }

        .section-img{
            width: 90%;
            align-self: center;
            justify-self: center;
            grid-area: pic;
            margin-top: -4.5rem;

            @include media.xs{
                margin: 0;
            }

            @include media.sm{
                margin: 0;
            }
        }

    }
}

.what-i-do{
    grid-template-areas: 
    "tb pic";

}

.foundation{
    grid-template-areas:
    "pic tb";

    margin-top: 3rem;

    .section-img{
        margin: 0;
        padding: 3rem;


        align-self: flex-start;

        @include media.xs{
            width: 95%;
            padding: 1rem;
        }

        @include media.sm{
            width: 95%;
            padding: 1rem;
        }
    }

    .foundation-logo{
        margin-bottom: 3rem;
        width: 85%;
        align-self: center;
    }

    .button{
        align-self: center;

        @include media.xs{
            height: 4rem;
        }

        @include media.sm{
            height: 4rem;
        }
    }
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    h1{
        font-family: "Fjalla One", sans-serif;
        color: #FFB0B0;
        font-size: 3.5rem;
        margin: 3rem 0 3rem 0;
        text-align: center;

        @include media.xs{
            font-size: 3rem;
        }

        @include media.sm{
            font-size: 3rem;
        }

    }

    p{
        font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
        font-size: 2rem;
        margin-bottom: 3rem;                
        color: #fff;
        text-align: center;

        @include media.xs{
            font-size: 1.5rem;

        }

        @include media.xs{
            font-size: 1.5rem;

        }

    }

    .button{
        width: 45%;

        @include media.xs{
            width: 85%;
            height: 4rem;
        }

        @include media.sm{
            width: 85%;
            height: 4rem;
        }
    }
}

