@use "reset";
@use "media-query" as media;
@use "button";


.hero-background{
    background-image: url(../images/Brand-Pattern-pink.png);
    background-repeat: repeat;
}

.red-brand-background{
    background-image: url(../images/Brand-Pattern-deep-red.png);
    background-repeat: repeat;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . hs"
    "txt . hs"
    "txt . hs" ;

    height: 85vh;

    @include media.xs{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        
        "txt"
        "hs";

        height: 85vh;
    }

    @include media.sm{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        
        "txt"
        "hs";

        height: 85vh;
    }






    .text-box{
        grid-area: txt;

        display: flex;
        flex-direction:  column;

        margin-left: 5rem;

        justify-content: center;


        @include media.xs{
            height: 100%;
            margin-top: 5rem;
            margin-left: 2rem;

        }

        @include media.sm{
            height: 100%;
            margin-top: 5rem;
            margin-left: 2rem;

        }

        h1{
            font-family: "Fjalla One", sans-serif;
            font-size: 6rem;
            line-height: 95%;
            padding-top: 1rem;
            margin-top: -6rem;
            margin-bottom: 1rem;

            @include media.xs{
                font-size: 5rem;
                margin-top: 0rem;
                margin-bottom: 0.5rem;
                
            }

            @include media.sm{
                font-size: 5rem;
                margin-top: 0rem;
                margin-bottom: 0.5rem;
                
            }

            @include media.md{
                font-size: 5rem;

            }
  
        }

        p{
            font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
            font-size: 2rem;
            margin-bottom: 2rem;

            @include media.xs{
                font-size: 1.5rem;
                width: 85%;
                margin-bottom: 1rem;
            }

            @include media.sm{
                font-size: 1.5rem;
                width: 85%;
                margin-bottom: 1rem;
            }
        }

        .button{

            @include media.xs{
                width: 60%;
                height: 4rem;
                font-size: 1.5rem;
            }

            @include media.sm{
                width: 55%;
                height: 4rem;
                font-size: 1.5rem;
            }

            @include media.md{
                font-size: 2.5rem;
            }
        }

    }


    img{
        grid-area: hs;
        height: 85%;
        align-self: flex-end;

        @include media.xs{
            justify-self: flex-end;
            margin-top: -10rem;
            margin-right: -5rem;
            height: 145%;
        }

        @include media.sm{
            justify-self: flex-end;
            margin-top: -10rem;
            margin-right: -5rem;
            height: 145%;
        }
    }
}

section{
    h2{
        font-size: 5rem;
        font-family: "Fjalla One", sans-serif;
        color: #FFB0B0;
        margin: 5rem;

        @include media.xs{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        @include media.sm{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        @include media.md{
            text-align: center;
            margin-bottom: 3rem;
        }

    }
    display: flex;
    flex-direction: column;
}

.card-grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;

    width: 85%;
    align-self: center;

    margin-bottom: 5rem;

    @include media.xs{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    @include media.sm{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    @include media.md{
        gap: 1rem;
        width: 95%;
    }
    

    .card{
        display: flex;
        flex-direction: column;
        width: 100%;

        img{
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 15%;
            margin: 1rem;
        }

        h4{
            color: #FFB0B0;
            align-self: center;
            font-family: "Fjalla One", sans-serif;
            font-size: 3rem;

            @include media.md{
                font-size: 2rem;
            }

        }

        h5{
            color: #FFB0B0;
            align-self: center;
            font-family: "Fjalla One", sans-serif;
            font-size: 2rem;

            @include media.md{
                font-size: 1.5rem;
            }

        }

        .button{
            align-self: center;
            font-size: 2rem;
            background-color: #B8183C;
            margin: 1rem 0 1rem 0;
        }

        @include media.md{
            font-size: 1.5rem;
        }
    }
}