@use "reset";
@use "media-query" as media;


@font-face {
    font-family: "Conseration";
    src: local("Conseration")url(../fonts/Conseration-Bold.woff);
}

@font-face {
    font-family: "Josefin Sans";
    src: local("Josefin Sans")url(../fonts/JosefinSans-VariableFont_wght.ttf);
}


nav{

    #nav-container{
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;


        position: fixed;
    

        background-color: #fff;

        height: 5rem;
        width: 100%;

        margin-top: 2rem;

        @include media.xs{
            flex-direction: column;
            
            justify-content: space-around;
        }

        @include media.sm{
            flex-direction: column;
            
            justify-content: space-around;
        }

        #navbar{
            display: flex;

            flex-direction: row;

            justify-content: space-between;
            align-items: center;

            width: 50%;
            height: 100%;

            @include media.xs{
                width: 100%;
                height: 5rem;

                justify-self: flex-start;
            }

            @include media.sm{
                width: 100%;
                height: 5rem;

                justify-self: flex-start;
            }

            img{
                height: 4rem;
                margin-left: 1rem;
            }

            #hamburger{
                display: none;
    
                font-size: 3rem;
                color: #520000;
    
                margin-right: 2rem;
            
    
                @include media.xs{
                    display: block;
                }
    
                @include media.sm{
                    display: block;
                }
            }
        }

        #nav-items{
            display: flex;
            justify-content: space-around;

            width: 50%;

            a{
                text-decoration: none;
                font-family: "Conseration", "Oswald", "Arial Narrow", sans-serif, sans-serif;
                font-size: 1.5rem;
                font-weight: bold;
                color: #520000;
            }

            @include media.xs{
                display: none;
                width: 100%;
                height: 55%;
                background-color: #fff;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                
                
            }

            @include media.sm{
                display: none;
                width: 100%;
                height: 55%;
                background-color: #fff;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                
            }
        }




    }
}

.nav-background{
    background-image: url(../images/Brand-Pattern-deep-red.png);
}

.open-mobile-nav{
    height: 50vh;
}

