@use "reset";
@use "media-query" as media;

h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 6rem;



    @include media.xs{
        font-size: 4rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        
    }

    @include media.sm{
        font-size: 4rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        
    }

    @include media.md{
        font-size: 5rem;

    }
}

h2{
    font-family: "Fjalla One", sans-serif;
    font-size: 5rem;

    padding-top: 1rem;

    @include media.xs{
        font-size: 3.5rem;

    }

    @include media.sm{
        font-size: 3.5rem;

    }

}

h3{
    font-family: "Fjalla One", sans-serif;
    font-size: 3rem;



    @include media.xs{
        font-size: 2.5;
    }

    @include media.sm{
        font-size: 2.5;
    }
}

h4{
    font-family: "Fjalla One", sans-serif;
    font-size: 2rem;
 


    @include media.xs{
        font-size: 1.75rem;
    }

    @include media.sm{
        font-size: 1.75rem;
    }
    
}

h5{
    font-family: "Fjalla One", sans-serif;
    font-size: 1rem;


}

p{

    font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;

    @include media.xs{
        font-size: 1.25rem;


    }

    @include media.sm{
        font-size: 1.25rem;

    }

}