* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

nav #nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  nav #nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
nav #nav-container #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 500px) {
  nav #nav-container #navbar {
    width: 100%;
    height: 5rem;
    justify-self: flex-start;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #navbar {
    width: 100%;
    height: 5rem;
    justify-self: flex-start;
  }
}
nav #nav-container #navbar img {
  height: 4rem;
  margin-left: 1rem;
}
nav #nav-container #navbar #hamburger {
  display: none;
  font-size: 3rem;
  color: #520000;
  margin-right: 2rem;
}
@media (max-width: 500px) {
  nav #nav-container #navbar #hamburger {
    display: block;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #navbar #hamburger {
    display: block;
  }
}
nav #nav-container #nav-items {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav #nav-container #nav-items a {
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #520000;
}
@media (max-width: 500px) {
  nav #nav-container #nav-items {
    display: none;
    width: 100%;
    height: 55%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #nav-items {
    display: none;
    width: 100%;
    height: 55%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

.nav-background {
  background-image: url(../images/Brand-Pattern-deep-red.png);
}

.open-mobile-nav {
  height: 50vh;
}

footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
footer .main-section .name-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
}
footer .main-section .name-with-icon img {
  width: 7rem;
  margin-right: -1rem;
}
footer .main-section .name-with-icon .namestack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .main-section .name-with-icon .namestack h5 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  color: #520000;
}
footer .main-section .name-with-icon .namestack p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1.5rem;
  color: #B8183C;
}
@media (max-width: 500px) {
  footer .main-section {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  footer .main-section {
    flex-direction: column;
    align-items: center;
  }
}
footer .main-section a {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1.5rem;
  color: #B8183C;
  text-decoration: none;
}
@media (max-width: 500px) {
  footer .main-section a {
    margin: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  footer .main-section a {
    margin: 1rem;
  }
}
footer .copyright {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1rem;
  color: #520000;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  footer .copyright {
    margin-top: 0;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  footer .copyright {
    margin-top: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  background-color: #520000;
  border-radius: 100px;
  width: 80%;
  max-width: 100%;
  padding: 0.75rem 2rem;
  min-height: 5rem;
  white-space: normal;
}
@media (max-width: 500px) {
  .button {
    font-size: 2rem;
    min-height: 4rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .button {
    font-size: 2rem;
    min-height: 4rem;
  }
}

.hero-background {
  background-image: url(../images/Brand-Pattern-pink.png);
  background-repeat: repeat;
}

.red-brand-background {
  background-image: url(../images/Brand-Pattern-deep-red.png);
  background-repeat: repeat;
}
.red-brand-background .button {
  background-color: #FFB0B0;
  color: #520000;
}

body {
  height: 100%;
}

.hero-grid-container {
  display: grid;
  grid-template-columns: 1fr 1 fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "txt . hs" "txt . hs";
  min-height: 85vh;
}
@media (max-width: 500px) {
  .hero-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "txt" "hs";
    height: 85vh;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .hero-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "txt" "hs";
    height: 85vh;
  }
}
.hero-grid-container .text-box {
  grid-area: txt;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  justify-content: center;
  margin-top: 10rem;
}
@media (max-width: 500px) {
  .hero-grid-container .text-box {
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .hero-grid-container .text-box {
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
  }
}
.hero-grid-container .text-box h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 6rem;
}
@media (max-width: 500px) {
  .hero-grid-container .text-box h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .hero-grid-container .text-box h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-grid-container .text-box h1 {
    font-size: 4rem;
  }
}
.hero-grid-container .text-box .lower-line {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.hero-grid-container .text-box p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .hero-grid-container .text-box p {
    font-size: 1.25rem;
    width: 85%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .hero-grid-container .text-box p {
    font-size: 1.25rem;
    width: 75%;
    margin-bottom: 1rem;
  }
}
.hero-grid-container .text-box .button {
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  .hero-grid-container .text-box .button {
    width: 55%;
    height: 4rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .hero-grid-container .text-box .button {
    width: 65%;
    height: 4rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-grid-container .text-box .button {
    font-size: 2.5rem;
  }
}
.hero-grid-container img {
  grid-area: hs;
  max-height: 75vh;
  align-self: flex-end;
}
@media (max-width: 500px) {
  .hero-grid-container img {
    justify-self: flex-end;
    margin-top: -10rem;
    margin-right: -5rem;
    height: 145%;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .hero-grid-container img {
    justify-self: flex-end;
    margin-top: -10rem;
    margin-right: -5rem;
    height: 145%;
  }
}

section {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
section h2 {
  font-size: 5rem;
  font-family: "Fjalla One", sans-serif;
  color: #FFB0B0;
  text-align: left;
  align-self: flex-start;
  margin: 5rem;
}
@media (max-width: 500px) {
  section h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    align-self: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    align-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  section h2 {
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    align-self: center;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 5rem;
  width: 85%;
  align-self: center;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .card-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card-grid {
    gap: 1rem;
    width: 95%;
  }
}
.card-grid .card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-grid .card img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15%;
  margin: 1rem;
}
.card-grid .card h4 {
  color: #FFB0B0;
  align-self: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card-grid .card h4 {
    font-size: 2rem;
  }
}
.card-grid .card h5 {
  color: #FFB0B0;
  align-self: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card-grid .card h5 {
    font-size: 1.5rem;
  }
}
.card-grid .card .button {
  align-self: center;
  font-size: 2rem;
  background-color: #B8183C;
  margin: 1rem 0 1rem 0;
}
@media (max-width: 500px) {
  .card-grid .card .button {
    height: 4rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .card-grid .card .button {
    height: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card-grid .card {
    font-size: 1.5rem;
  }
}

section h2 {
  margin-bottom: 0;
}
section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  section .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "tb";
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "tb";
  }
}
section .grid-container .text-box {
  display: flex;
  flex-direction: column;
  grid-area: tb;
  align-self: flex-start;
  margin: 0 2rem 0 5rem;
}
@media (max-width: 500px) {
  section .grid-container .text-box {
    margin: 2rem;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .grid-container .text-box {
    margin: 2rem;
    text-align: center;
  }
}
section .grid-container .text-box h3 {
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  font-size: 3.5rem;
  margin: 3rem 0 3rem 0;
}
@media (max-width: 500px) {
  section .grid-container .text-box h3 {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .grid-container .text-box h3 {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
  }
}
section .grid-container .text-box p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #fff;
}
@media (max-width: 500px) {
  section .grid-container .text-box p {
    font-size: 1.25rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .grid-container .text-box p {
    font-size: 1.25rem;
  }
}
section .grid-container .text-box .button {
  width: 85%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  section .grid-container .text-box .button {
    width: 85%;
    align-self: center;
    height: 4rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .grid-container .text-box .button {
    width: 85%;
    align-self: center;
    height: 4rem;
  }
}
section .grid-container .section-img {
  width: 90%;
  align-self: center;
  justify-self: center;
  grid-area: pic;
  margin-top: -4.5rem;
}
@media (max-width: 500px) {
  section .grid-container .section-img {
    margin: 0;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  section .grid-container .section-img {
    margin: 0;
  }
}

.what-i-do {
  grid-template-areas: "tb pic";
}

.foundation {
  grid-template-areas: "pic tb";
  margin-top: 3rem;
}
.foundation .section-img {
  margin: 0;
  padding: 3rem;
  align-self: flex-start;
}
@media (max-width: 500px) {
  .foundation .section-img {
    width: 95%;
    padding: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .foundation .section-img {
    width: 95%;
    padding: 1rem;
  }
}
.foundation .foundation-logo {
  margin-bottom: 3rem;
  width: 85%;
  align-self: center;
}
.foundation .button {
  align-self: center;
}
@media (max-width: 500px) {
  .foundation .button {
    height: 4rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .foundation .button {
    height: 4rem;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.cta h1 {
  font-family: "Fjalla One", sans-serif;
  color: #FFB0B0;
  font-size: 3.5rem;
  margin: 3rem 0 3rem 0;
  text-align: center;
}
@media (max-width: 500px) {
  .cta h1 {
    font-size: 3rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .cta h1 {
    font-size: 3rem;
  }
}
.cta p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
}
@media (max-width: 500px) {
  .cta p {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .cta p {
    font-size: 1.5rem;
  }
}
.cta .button {
  width: 45%;
}
@media (max-width: 500px) {
  .cta .button {
    width: 85%;
    height: 4rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .cta .button {
    width: 85%;
    height: 4rem;
  }
}

body {
  background-color: #000;
}

.placeholder {
  height: 85vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder h1 {
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 5rem;
}

/*# sourceMappingURL=output.css.map */
