* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

nav #nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  nav #nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
nav #nav-container #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 500px) {
  nav #nav-container #navbar {
    width: 100%;
    height: 5rem;
    justify-self: flex-start;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #navbar {
    width: 100%;
    height: 5rem;
    justify-self: flex-start;
  }
}
nav #nav-container #navbar img {
  height: 4rem;
  margin-left: 1rem;
}
nav #nav-container #navbar #hamburger {
  display: none;
  font-size: 3rem;
  color: #520000;
  margin-right: 2rem;
}
@media (max-width: 500px) {
  nav #nav-container #navbar #hamburger {
    display: block;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #navbar #hamburger {
    display: block;
  }
}
nav #nav-container #nav-items {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav #nav-container #nav-items a {
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #520000;
}
@media (max-width: 500px) {
  nav #nav-container #nav-items {
    display: none;
    width: 100%;
    height: 55%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #nav-items {
    display: none;
    width: 100%;
    height: 55%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

.nav-background {
  background-image: url(../images/Brand-Pattern-deep-red.png);
}

.open-mobile-nav {
  height: 50vh;
}

.button {
  font-family: "Fjalla One", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  align-content: center;
  background-color: #520000;
  height: 5rem;
  border-radius: 100px;
  width: 80%;
}
@media (max-width: 500px) {
  .button {
    font-size: 1.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .button {
    font-size: 1.5rem;
  }
}

.hero-background {
  background-image: url(../images/Brand-Pattern-pink.png);
  background-repeat: repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1 fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . hs" "txt . hs" "txt . hs";
  height: 85vh;
}
@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "txt" "hs";
    height: 85vh;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "txt" "hs";
    height: 85vh;
  }
}
.grid-container .text-box {
  grid-area: txt;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  justify-content: center;
}
@media (max-width: 500px) {
  .grid-container .text-box {
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .grid-container .text-box {
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
  }
}
.grid-container .text-box h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 6rem;
  line-height: 95%;
  padding-top: 1rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .grid-container .text-box h1 {
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .grid-container .text-box h1 {
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .grid-container .text-box h1 {
    font-size: 5rem;
  }
}
.grid-container .text-box p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .grid-container .text-box p {
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .grid-container .text-box p {
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .grid-container .text-box .button {
    width: 55%;
    height: 3rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .grid-container .text-box .button {
    width: 55%;
    height: 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .grid-container .text-box .button {
    font-size: 2.5rem;
  }
}
.grid-container img {
  grid-area: hs;
  height: 85%;
  align-self: flex-end;
}
@media (max-width: 500px) {
  .grid-container img {
    justify-self: flex-end;
    margin-top: -10rem;
    margin-right: -5rem;
    height: 145%;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .grid-container img {
    justify-self: flex-end;
    margin-top: -10rem;
    margin-right: -5rem;
    height: 145%;
  }
}

body {
  background-color: #000;
}

/*# sourceMappingURL=output.css.map */
