@use "reset";
@use "media-query" as media;
@use "text-styling";
@use "button";
@use "nav";
@use "footer";

body{
    background-color: #000;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    "hl pic"
    "txt pic";

    padding: 5rem;
    margin-top: 5rem;

    @include media.xs{
        grid-template-columns: 1fr;

        grid-template-areas: 
        "hl"
        "pic"
        "txt";

        padding: 2.5rem;
        margin-top: 7rem;
    }

    @include media.sm{
        grid-template-columns: 1fr;

        grid-template-areas: 
        "hl"
        "pic"
        "txt";

        padding: 2.5rem;
        margin-top: 7rem;
    }


}

.headlines{
    grid-area: hl;

    align-self: flex-end;

    h1{
        color: #FFB0B0;

        @include media.xs{
            font-size: 3.5rem;
            text-align: center;
        }

        @include media.sm{
            font-size: 3.5rem;
            text-align: center;
        }

        @include media.md{
            font-size: 4rem;
        }
    }

    h3{
        color: #fff;
        margin-bottom: 2rem;

        @include media.xs{
            font-size: 2rem;
            text-align: center;
        }

        @include media.sm{
            font-size: 2.5rem;
            text-align: center;
        }

        @include media.md{
            font-size: 2rem;
            
        }
    }
}

.textbox{
    grid-area: txt;

    color: #fff;

    width: 85%;

    display: flex;
    flex-direction: column;

    margin-top: 2rem;


    @include media.xs{
        align-items: center;

        align-self: center;
        justify-self: center;
        width: 100%;
    }

    @include media.sm{
        align-items: center;

        align-self: center;
        justify-self: center;
        width: 100%;
    }

    p{
        font-size: 1.75rem;

        @include media.xs{
            text-align: center;
            font-size: 1.15rem;
        }

        @include media.sm{
            text-align: center;
        }

        @include media.md{
            font-size: 1.5rem;
        }
    }

    .small-text{
        font-size: 1rem;
    }
}

.hero-image{
    grid-area: pic;
    aspect-ratio: 1;
    width: 100%;
    border-radius: 25px;
}

.overview{
    padding: 5rem;

    display: flex;
    flex-direction: column;

    @include media.xs{
        padding: 2.5rem;
    }

    @include media.sm{
        padding: 2.5rem;
    }

    h4{
        font-size: 3rem;

        @include media.xs{
            text-align: center;
            align-self: center;
        }

        @include media.sm{
            text-align: center;
            align-self: center;
        }

        @include media.md{
            text-align: center;
            align-self: center;
        }
    }

    h2{
        margin-bottom: 2rem;

        @include media.xs{
            text-align: center;
        }

        @include media.sm{
            text-align: center;
        }
    }

    p{
        font-size: 1.5rem;

        @include media.xs{
            font-size: 1.15rem;
            text-align: center;
        }

        
    }


}


.bandwagon-background{
    background-image: url(../images/bandwagon-pattern.png);
    background-color: #BFBFBF;
}

.bandwagon-logos{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    grid-template-areas: 
    "logo1 logo2 logo3";

    gap: 2rem;
  

    margin-top: 2rem;



    @include media.xs{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "logo1 logo1"
        "logo2 logo3"; 

        gap: 1rem;
    }

    @include media.sm{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "logo1 logo1"
        "logo2 logo3"; 
    }

    @include media.md{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "logo1 logo1"
        "logo2 logo3"; 
    }

    .black{
        background-color: #000;
        width: 100%;
        height: 13rem;
        object-fit: contain;
        object-position: center;
        border-radius: 25px;

        grid-area: logo1;

        @include media.xs{
            height: 10rem;
        }
    }

    .cream{
        background-color: #FFF2D1;
        width: 100%;
        height: 13rem;
        object-fit: contain;
        object-position: center;
        border-radius: 25px;

        grid-area: logo2;

        @include media.xs{
            height: 10rem;
        }
    }

    .orange{
        background-color: #EA7C55;
        width: 100%;
        height: 13rem;
        object-fit: contain;
        object-position: center;
        border-radius: 25px;
        padding: 1rem;

        grid-area: logo3;

        @include media.xs{
            height: 10rem;
        }
    }
}

.color-palette{
    margin-top: 2rem;

    span{
        height: 13rem;
        border-radius: 25px;

        display: flex;
        align-items: flex-end;
        justify-content: center;




        @include media.xs{
            height: 10rem;

        }

        @include media.sm{

        }

        p{
            font-size: 1.5rem;

            @include media.xs{
                font-size: 1rem;
            }

            @include media.sm{
                font-size: 1rem;
            }

            @include media.lg{
                font-size: 1.25rem;
            }




        }
    }
}

.bandwagon-color{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 2rem;

    grid-template-areas: 
    "color1 color2 color3 color4";

    margin-top: 2rem;

    @include media.xs{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "color1 color1 color1"
        "color2 color3 color4";

        gap: 1rem;
    }

    @include media.sm{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "color1 color1 color1"
        "color2 color3 color4";
    }

    @include media.md{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "color1 color1 color1"
        "color2 color3 color4";
    }

    .orange{
        background-color: #EA7C55;
        grid-area: color1;
    }

    .cream{
        background-color: #FFF2D1;
        grid-area: color2;
    }

    .black{
        background-color: #000;
        color: #fff;
        grid-area: color3;
    }

    .gray{
        background-color: #414042;
        color: #fff;
        grid-area: color4;
    }
}

.type{

    h4{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.type-box{
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: "pic txt";

    gap: 2rem;

    align-items: center;

    @include media.xs{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "pic"
        "txt";
    }

    @include media.sm{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "pic"
        "txt";
    }

    img{
        width: 100%;
        border-radius: 25px;

        grid-area: pic;
    }

    p{
        grid-area: txt;
    }
}

.in-practice{

    
    padding: 5rem;
    h2{
        color: #FFB0B0;

        @include media.xs{
            align-self: center;
            text-align: center;
        }

        @include media.sm{
            align-self: center;
            text-align: center;
        }
    }

    .content-box{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;

        grid-template-areas: 
        "txt"
        "pic";

        @include media.xs{
            grid-template-areas: 
            "pic"
            "txt";
        }

        @include media.sm{
            grid-template-areas: 
            "pic"
            "txt";
        }

        img{
            grid-area: pic;

            width: 100%;

            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        p{
            color: #fff;
            grid-area: txt;

            margin-top: 2rem;
        }
    }
}

.mini-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;


    @include media.xs{
        grid-template-columns: 1fr;
    }

    @include media.sm{
        grid-template-columns: 1fr;
    }
}

.portfolio-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3rem;

    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    align-self: center;
    justify-self: center;
    width: 85%;
    border-radius: 25px;

    .button{
        background-color: #FFB0B0;
        color: #520000;
        font-size: 2rem;

        @include media.xs{
            font-size: 1.25rem;
        }

        @include media.sm{
            font-size: 1.25rem;
        }

        @include media.md{
            font-size: 1.5rem;
        }
    }
}

#rental-trifold{
    background-image: url(../images/rental-trifold.png);

}

#school-poster{
    background-image: url(../images/REPAIR-POSTER.png);
}

#rental-flyer{
    background-image: url(../images/Rental\ Flyer\ Mockup.png);
}

#lessons-poster{
    background-image: url(../images/lessons-POSTER.png);
}