* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 6rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 5rem;
  padding-top: 1rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.5;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  h3 {
    font-size: 2.5;
  }
}

h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.75rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  h4 {
    font-size: 1.75rem;
  }
}

h5 {
  font-family: "Fjalla One", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  p {
    font-size: 1.25rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  p {
    font-size: 1.25rem;
  }
}

.button {
  font-family: "Fjalla One", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  align-content: center;
  background-color: #520000;
  height: 5rem;
  border-radius: 100px;
  width: 80%;
}
@media (max-width: 500px) {
  .button {
    font-size: 2rem;
    height: 4rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .button {
    font-size: 2rem;
    height: 4rem;
  }
}

nav #nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  nav #nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
nav #nav-container #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 500px) {
  nav #nav-container #navbar {
    width: 100%;
    height: 5rem;
    justify-self: flex-start;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #navbar {
    width: 100%;
    height: 5rem;
    justify-self: flex-start;
  }
}
nav #nav-container #navbar img {
  height: 4rem;
  margin-left: 1rem;
}
nav #nav-container #navbar #hamburger {
  display: none;
  font-size: 3rem;
  color: #520000;
  margin-right: 2rem;
}
@media (max-width: 500px) {
  nav #nav-container #navbar #hamburger {
    display: block;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #navbar #hamburger {
    display: block;
  }
}
nav #nav-container #nav-items {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav #nav-container #nav-items a {
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #520000;
}
@media (max-width: 500px) {
  nav #nav-container #nav-items {
    display: none;
    width: 100%;
    height: 55%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  nav #nav-container #nav-items {
    display: none;
    width: 100%;
    height: 55%;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

.nav-background {
  background-image: url(../images/Brand-Pattern-deep-red.png);
}

.open-mobile-nav {
  height: 50vh;
}

footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
footer .main-section .name-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
}
footer .main-section .name-with-icon img {
  width: 7rem;
  margin-right: -1rem;
}
footer .main-section .name-with-icon .namestack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .main-section .name-with-icon .namestack h5 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  color: #520000;
}
footer .main-section .name-with-icon .namestack p {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1.5rem;
  color: #B8183C;
}
@media (max-width: 500px) {
  footer .main-section {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  footer .main-section {
    flex-direction: column;
    align-items: center;
  }
}
footer .main-section a {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1.5rem;
  color: #B8183C;
  text-decoration: none;
}
@media (max-width: 500px) {
  footer .main-section a {
    margin: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  footer .main-section a {
    margin: 1rem;
  }
}
footer .copyright {
  font-family: "Josefin Sans", "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-size: 1rem;
  color: #520000;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  footer .copyright {
    margin-top: 0;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  footer .copyright {
    margin-top: 0;
  }
}

body {
  background-color: #000;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hl pic" "txt pic";
  padding: 5rem;
  margin-top: 5rem;
}
@media (max-width: 500px) {
  header {
    grid-template-columns: 1fr;
    grid-template-areas: "hl" "pic" "txt";
    padding: 2.5rem;
    margin-top: 7rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  header {
    grid-template-columns: 1fr;
    grid-template-areas: "hl" "pic" "txt";
    padding: 2.5rem;
    margin-top: 7rem;
  }
}

.headlines {
  grid-area: hl;
  align-self: flex-end;
}
.headlines h1 {
  color: #FFB0B0;
}
@media (max-width: 500px) {
  .headlines h1 {
    font-size: 3.5rem;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .headlines h1 {
    font-size: 3.5rem;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .headlines h1 {
    font-size: 4rem;
  }
}
.headlines h3 {
  color: #fff;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .headlines h3 {
    font-size: 2rem;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .headlines h3 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .headlines h3 {
    font-size: 2rem;
  }
}

.textbox {
  grid-area: txt;
  color: #fff;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .textbox {
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .textbox {
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}
.textbox p {
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  .textbox p {
    text-align: center;
    font-size: 1.15rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .textbox p {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .textbox p {
    font-size: 1.5rem;
  }
}
.textbox .small-text {
  font-size: 1rem;
}

.hero-image {
  grid-area: pic;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 25px;
}

.overview {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .overview {
    padding: 2.5rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .overview {
    padding: 2.5rem;
  }
}
.overview h4 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .overview h4 {
    text-align: center;
    align-self: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .overview h4 {
    text-align: center;
    align-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .overview h4 {
    text-align: center;
    align-self: center;
  }
}
.overview h2 {
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .overview h2 {
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .overview h2 {
    text-align: center;
  }
}
.overview p {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .overview p {
    font-size: 1.15rem;
    text-align: center;
  }
}

.bandwagon-background {
  background-image: url(../images/bandwagon-pattern.png);
  background-color: #BFBFBF;
}

.bandwagon-logos {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: "logo1 logo2 logo3";
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .bandwagon-logos {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo1 logo1" "logo2 logo3";
    gap: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .bandwagon-logos {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo1 logo1" "logo2 logo3";
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .bandwagon-logos {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo1 logo1" "logo2 logo3";
  }
}
.bandwagon-logos .black {
  background-color: #000;
  width: 100%;
  height: 13rem;
  object-fit: contain;
  object-position: center;
  border-radius: 25px;
  grid-area: logo1;
}
@media (max-width: 500px) {
  .bandwagon-logos .black {
    height: 10rem;
  }
}
.bandwagon-logos .cream {
  background-color: #FFF2D1;
  width: 100%;
  height: 13rem;
  object-fit: contain;
  object-position: center;
  border-radius: 25px;
  grid-area: logo2;
}
@media (max-width: 500px) {
  .bandwagon-logos .cream {
    height: 10rem;
  }
}
.bandwagon-logos .orange {
  background-color: #EA7C55;
  width: 100%;
  height: 13rem;
  object-fit: contain;
  object-position: center;
  border-radius: 25px;
  padding: 1rem;
  grid-area: logo3;
}
@media (max-width: 500px) {
  .bandwagon-logos .orange {
    height: 10rem;
  }
}

.color-palette {
  margin-top: 2rem;
}
.color-palette span {
  height: 13rem;
  border-radius: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 500px) {
  .color-palette span {
    height: 10rem;
  }
}
.color-palette span p {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .color-palette span p {
    font-size: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .color-palette span p {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .color-palette span p {
    font-size: 1.25rem;
  }
}

.bandwagon-color {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "color1 color2 color3 color4";
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .bandwagon-color {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "color1 color1 color1" "color2 color3 color4";
    gap: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .bandwagon-color {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "color1 color1 color1" "color2 color3 color4";
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .bandwagon-color {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "color1 color1 color1" "color2 color3 color4";
  }
}
.bandwagon-color .orange {
  background-color: #EA7C55;
  grid-area: color1;
}
.bandwagon-color .cream {
  background-color: #FFF2D1;
  grid-area: color2;
}
.bandwagon-color .black {
  background-color: #000;
  color: #fff;
  grid-area: color3;
}
.bandwagon-color .gray {
  background-color: #414042;
  color: #fff;
  grid-area: color4;
}

.type h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.type-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pic txt";
  gap: 2rem;
  align-items: center;
}
@media (max-width: 500px) {
  .type-box {
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "txt";
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .type-box {
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "txt";
  }
}
.type-box img {
  width: 100%;
  border-radius: 25px;
  grid-area: pic;
}
.type-box p {
  grid-area: txt;
}

.in-practice {
  padding: 5rem;
}
.in-practice h2 {
  color: #FFB0B0;
}
@media (max-width: 500px) {
  .in-practice h2 {
    align-self: center;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .in-practice h2 {
    align-self: center;
    text-align: center;
  }
}
.in-practice .content-box {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas: "txt" "pic";
}
@media (max-width: 500px) {
  .in-practice .content-box {
    grid-template-areas: "pic" "txt";
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .in-practice .content-box {
    grid-template-areas: "pic" "txt";
  }
}
.in-practice .content-box img {
  grid-area: pic;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.in-practice .content-box p {
  color: #fff;
  grid-area: txt;
  margin-top: 2rem;
}

/*# sourceMappingURL=project.css.map */
